<?xml version="1.0" encoding="utf-8"?>
<App>
  <Name>LoginServer</Name>
  <Server>
    <IP>127.0.0.1</IP>
    <Port>9800</Port>
    <ThreadCount>1</ThreadCount>
  </Server>
  <Terminal>
    <CrazyArcadeServer>
      <IP>127.0.0.1</IP>
      <Port>9900</Port>
    </CrazyArcadeServer>
    <DBAgent>
      <IP>127.0.0.1</IP>
      <Port>9700</Port>
    </DBAgent>
  </Terminal>
  <Log>
    <Path>./Log/LoginLog.log</Path>
    <Prefix>[System]</Prefix>
    <Type>File</Type>
  </Log>
  
  <Contents>
    <ThreadCount>1</ThreadCount>
  </Contents>
</App>